:root {
  --COLOR-MAIN: #454955;
  --COLOR-SECOND: #f5853f;
  --COLOR-THIRD: #f9dc5c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Structure */

html {
  font-size: 16px;
  font-family: 'Insconsolata', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  height: 100vh;
  background-color: var(--COLOR-MAIN);
  color: var(--COLOR-THIRD);

  display: flex;
  flex-direction: column;
}

/* Header */
header {
  height: 300px;
  width: 100%;
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
}

header figure {
  height: 300px;
  width: 300px;
  z-index: 1;
  position: absolute;
  left: 50px;

  border: 5px solid var(--COLOR-MAIN);
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

header figcaption {
  color: var(--COLOR-MAIN);
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  bottom: 15%;
}

nav {
  height: 200px;
  width: 100%;
  padding-left: 400px;

  background: rgba(245, 133, 63, 0.4);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(245, 133, 63, 0.2);
}

nav ul {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0px 20px;
}

nav li {
  display: block;
}

nav a {
  color: var(--COLOR-MAIN);
  font-size: 2rem;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
}

/* Main */
main {
  margin-top: 350px;
  padding: 0 50px;
  display: flex;
  align-items: start;
  gap: 20px;
}

.main-container {
  padding: 15px;
  box-shadow: 5px 5px 15px 5px #2e3138;
  border-radius: 15px;
}

.about {
  min-width: 300px;
  max-width: 300px;
}

.about h2 {
  text-align: center;
  margin-bottom: 15px;
}

.content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.feature-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 5px;
}

.feature-products figure {
  width: 300px;
}

.feature-products figure img {
  height: 200px;
  width: 300px;
}

.feature-products figcaption {
  text-align: center;
  font-size: 1.5rem;
}

.personal {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 200px;
}

.card figcaption {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.card img {
  height: 200px;
  width: auto;
  border: 5px solid var(--COLOR-THIRD);
  border-radius: 50%;
}
/* Footer */

footer {
  margin-top: 20px;
  max-height: 100px;
  min-height: 100px;
  background-color: var(--COLOR-SECOND);
  color: var(--COLOR-MAIN);
}

/* Responsive */
